Repository CarloVarni/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

InSine; filtering
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Add missing `geometrySelection` in Hough seeder configuration
  Python/Examples/python/reconstruction.py
Labels: none

Enable all Strips endcaps
  Examples/Configs/odd-seeding-config.json
Labels: Component - Examples

const
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Fix phi angle convention
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Used unordered_set instead of set
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Thread-specific output
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Using view::filters instead
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Eta slicer
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Strips seeds; Debug logging for everything under `addSeeding`
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

Simplify bit pattern stuff
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Save layer bit pattern instead of number of hit layers
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Python/Examples/python/reconstruction.py
Labels: Component - Examples, Track Finding

Disable zr filling
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Disabling debug output; Disabling writing SP positions
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, Track Finding

Always go through x-axis (rows) first in HoughHist
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

createLayerHoughHist with filtered measurements
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Disable almost everytinhg to run Hough transform seeder
  Examples/Scripts/Python/full_chain_odd.py
  Python/Examples/python/reconstruction.py
Labels: Component - Examples

Switched to HoughPlane
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

formatter
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Addressed cppcheck concerns
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

phi axis for HT
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Reduce slicing to full detector and the most central slices
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Sliding window in HoughTransformSeeder
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

changes
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Revert "fix: phi axis for HT"
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Move `thread_local` stuff to cpp file
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Use old number of bins
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Variable binning in q/p
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

add reminder again
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Added truth info histogram
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Limit truth for bins with at least 5 entries (temp)
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Delete copy and assignment constructors for Writer; std::scoped_lock
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Write histograms to single file
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Updates to Ntuple writer
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Remove unused variable
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Save hash
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Fix warning
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Formatting
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Writing truth info to ntuple
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Fix
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/**
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
