Repository CarloVarni/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

Strips seeds; Debug logging for everything under `addSeeding`
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

Slicing in eta
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Simpler slicing function
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Fix phi angle convention
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Look only at populated layers
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Save layer bit pattern instead of number of hit layers
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Python/Examples/python/reconstruction.py
Labels: Component - Examples, Track Finding

Disabling debug output; Disabling writing SP positions
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, Track Finding

Enable all Strips endcaps
  Examples/Configs/odd-seeding-config.json
Labels: Component - Examples

Disable zr filling
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Simplify bit pattern stuff
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

InSine; filtering
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Always go through x-axis (rows) first in HoughHist
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Thread-specific output
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Eta slicer
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Used unordered_set instead of set
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

const
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

createLayerHoughHist with filtered measurements
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Slicing in cot(theta)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Using view::filters instead
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Fix duplicate layers in HoughCell when filling
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
  Tests/UnitTests/Core/Seeding/HoughTransformTest.cpp
Labels: Component - Core, Seeding

Switched to HoughPlane
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Reduce slicing to full detector and the most central slices
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Sliding window in HoughTransformSeeder
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Addressed cppcheck concerns
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

phi axis for HT
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Revert "fix: phi axis for HT"
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

changes
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

formatter
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Move `thread_local` stuff to cpp file
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Use old number of bins
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
Labels: Component - Examples, Track Finding

Restore previous behaviour, but with layer duplicate check
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
Labels: Component - Core, Seeding

Variable binning in q/p
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Added truth info histogram
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

add reminder again
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Custom slicing; Creating histograms with transform results
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Slicing in eta
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Slicing in cot(theta)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Simpler slicing function
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Look only at populated layers
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding

Expose `outputSeeds` from `HoughTransformSeeder::Config` to python
  Python/Examples/src/TrackFinding.cpp
Labels: none

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/**
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
