Repository CarloVarni/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/**
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

no detailed seed
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

Adding binning in radius and removing check on rM
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

changes
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
Labels: Component - Core, Track Finding

Changes
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core, Seeding

bottom doublets first
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

Add support for seeds from N space points
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Core/include/Acts/EventData/SpacePointProxyIterator.ipp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/SeedEdmTests.cpp
Labels: Component - Core, Event Data Model

first changes
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Core/include/Acts/Utilities/Iterator.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainerEdmTests.cpp
Labels: Component - Core, Component - Examples, Event Data Model, Track Finding

first changes
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Core, Component - Examples, Event Data Model, Seeding, Track Finding

grid takes ownership
  Core/include/Acts/Seeding/Neighbour.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

runs standalone
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/EventData/SpacePointContainer.ipp
  Core/include/Acts/Utilities/Iterator.hpp
  Tests/UnitTests/Core/EventData/SpacePointContainerEdmTests.cpp
Labels: Component - Core, Event Data Model

unwanted change
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples

format
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/EventData/SpacePointContainer.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, Event Data Model, Seeding, Track Finding

no owning policy
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
Labels: Component - Core, Event Data Model

maybe
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Examples, Track Finding

trovato issue
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Examples, Track Finding

Move to Open Axis Bound
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
Labels: Component - Core, Seeding

unwanted change
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Examples, Track Finding

computations
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

sure
  CMakeLists.txt
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

boh
  Core/include/Acts/Seeding/DoubletCache.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

jj
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

struct for caching
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

other
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

changes
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, Changes Performance

Add missing `geometrySelection` in Hough seeder configuration
  Python/Examples/python/reconstruction.py
Labels: none

Expose `outputSeeds` from `HoughTransformSeeder::Config` to python
  Python/Examples/src/TrackFinding.cpp
Labels: none

Disable almost everytinhg to run Hough transform seeder
  Examples/Scripts/Python/full_chain_odd.py
  Python/Examples/python/reconstruction.py
Labels: Component - Examples

Custom slicing; Creating histograms with transform results
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Examples, Track Finding
